@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Exo 2", sans-serif;
  --color-castelia-dark: #1E382B;
  --color-castelia-light: #F6F9F2;
  --color-castelia-primary: #4A7C2A;
  --color-castelia-accent: #F4D03F;
}